$FontPathOpenSans: "./node_modules/open-sans-fonts/open-sans/";
@import './node_modules/open-sans-fonts/open-sans.scss';
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 88888;
    width: 100%;
    max-width: 100%;
    height: 104px;
    background-color: rgba(39, 48, 65, 1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.nav-logo,
.nav-logo a {
    color: #e1ac4c;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 400;
    height: 100%;
}