<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row footer-content">
            <div class="col-12 col-lg-4">
                <h4 class="mt-0">Contact Us</h4>
                <address>
                        London Prime Ltd<br>
                        Suite 61, 405 Kings Road<br>
                        London SW10 0BB<br><br>
                        <i class="fa fa-envelope fa-lg" style="padding-right: 5px"></i> <a href="mailto:info@londonprimeltd.com">info@londonprimeltd.com</a>
                                </address>
            </div>
            <div class="col-12 col-lg-4">
                <h4 class="mt-0">About Us</h4>
                <div>London Prime is a London based property developer specializing in both luxury residential and multi-unit schemes in greater London as well as the surrounding counties. We work on both new build and conversion projects within both the residential
                    and mixed used sectors.</div>
            </div>
            <div class="col-12 col-lg-1">
            </div>
            <div class="col-12 col-lg-3">
                <h4 class="mt-0">Connect</h4>
                <div class="text-left">
                    <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/London-Prime-Ltd-846104022074901/"><i class=" fa fa-facebook fa-sm"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/company/london-prime-ltd-"><i class="fa fa-linkedin fa-sm"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/"><i class="fa fa-twitter fa-sm"></i></a>
                </div>
            </div>
        </div>
        <div class="row footer-copyright">
            <div class="col-12">
                <p>© Copyright 2020 London Prime Ltd</p>
            </div>
        </div>
    </div>
</footer>