<!-- Navigation -->
<nav class="navbar navbar-dark navbar-expand-md fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        <a class="navbar-brand mr-auto" href="#">
            <div class="nav-logo" id="nav-logo">
                <a href="https://www.londonprimeltd.com/">
                    <img src="/img/header-logo.png" style="display: inline; padding-right: 10px" />
                    <span style="font-weight: 300">London</span>
                    <img src="/img/header-logo-border.png" style="display: inline; padding: 0 4px 0 3px" />
                    <span style="font-weight: 500">Prime</span>
                </a>
            </div>
        </a>
        <div id="Navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Developments
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!--<a class="dropdown-item" href="./developments/">View All</a>
                            <div class="dropdown-divider"></div>-->
                        <a class="dropdown-item" href="/developments/orbital-house/">Orbital House</a>
                        <a class="dropdown-item" href="/developments/gunter-grove-ground/">Gunter Grove Ground</a>
                        <a class="dropdown-item" href="/developments/gunter-grove-garden/">Gunter Grove Garden</a>
                        <a class="dropdown-item" href="/developments/burleigh-house/">Burleigh House</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link pr-0" href="/contact/">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>