<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact Us | London Prime</title>

    <%- include('partials/header.ejs'); -%>

</head>

<body>

    <%- include('partials/navbar.ejs'); -%>

        <!-- Luxy.js -->
        <div id="luxy">

            <div class="container-fluid position-relative w-100 p-0 text-center" style="height: 50vh; background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('/img/contact.jpg') no-repeat; background-size: cover; background-position: 50% 50%">
                <div class="row h-100 p-0">
                    <div class="col-12 h-100 d-flex flex-column justify-content-center">
                        <div class="fp-carousel-text">LONDON PRIME</div>
                        <div class="fp-carousel-header">CONTACT US</div>
                    </div>
                </div>
            </div>

            <div class="container py-5">
                <div class="row">
                    <div class="col-12 col-xl-5 mb-4">
                        <div class="mb-4"><img src="/img/logo.jpg" style="max-width: 100%" /></div>
                        <br/>Our Address:<br/><br/>London Prime Ltd<br />Suite 61, 405 Kings Road<br />London SW10 0BB<br /><br />Tel: <a href="tel:+442030868162">+44 (0) 20 3086 8162</a><br />E-Mail:
                        <a href="mailto:info@londonprimeltd.com">info@londonprimeltd.com</a><br/><br/>
                        <span style="font-size: 12px">Registered in England and Wales No. 08434245<br/>Registered Office: Suite 61, 405 Kings Road, London SW10 0BB.</span>
                    </div>
                    <div class="col-12 col-xl-7">
                        <div style="height: 400px; width: 100%; object-fit: cover">
                            <iframe frameborder="0" style="height: 100%; width: 100%; border: 0; background: #dfdfdf; box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBGPoH-xM3SSYoOsIyqsOkoqa3KkkyqMLg&zoom=12&q=London+Prime+405+Kings+Road+SW100BB"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('partials/footer.ejs'); -%>

        </div>
        <!-- End Luxy -->

        <%- include('partials/scripts.ejs'); -%>

</body>

</html>