<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Orbital House | Property Developments | London Prime</title>

    <%- include('partials/header.ejs'); -%>
        <link type="text/css" rel="stylesheet" href="/node_modules/lightgallery.js/dist/css/lightgallery.css" />

</head>

<body>

    <%- include('partials/navbar.ejs'); -%>

        <!-- Luxy.js -->
        <div id="luxy">

            <div class="container-fluid position-relative w-100 p-0 text-center" style="height: 50vh; background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('/img/orbital.jpg') no-repeat; background-size: cover; background-position: 50% 50%">
                <div class="sold"><img src="/img/sold.png" /></div>
                <div class="row h-100 p-0">
                    <div class="col-12 h-100 d-flex flex-column justify-content-center">
                        <div class="col-12 h-100 d-flex flex-column justify-content-center">
                            <div class="fp-carousel-text">PROPERTY DEVELOPMENTS</div>
                            <div class="fp-carousel-header">ORBITAL HOUSE</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container py-5">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="row">
                            <div class="col-12">
                                <h1>Orbital House, Caterham</h1>
                            </div>
                            <div class="col-12 development-sub-header">
                                London, Surrey CR3&nbsp;&nbsp;|&nbsp;&nbsp;£190,000 - £350,000&nbsp;&nbsp;<span class="badge badge-danger">SOLD</span>
                            </div>
                        </div>
                        <div class="col-12 mr-3">
                            <div class="row pt-4">
                                A collection of 19 1-bedroom and 2-bedroom contemporary apartments located in Caterham, Surrey. The development is situated in the heart of Caterham village and is located just a stone's throw from Caterham Station, with connections to central London
                                in under 45 minutes. Perfect for commuting.
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 mt-4">
                        <h5 class="mb-4">Features</h5>
                        <div class="location my-2"><i class="fa fa-map-marker" style="padding: 0 11px 0 2px"></i> 0.2 miles from Caterham Station</div>
                        <div class="availability mb-2"><i class="fa fa-home" style="padding-right: 6px"></i> 19 x 1- and 2-bedroom apartments, including 3 penthouses</div>
                        <div class="pricing"><i class="fa fa-gbp" style="padding: 0 11px 0 2px"></i> £190,000 - £350,000</div>
                    </div>
                </div>
                <div class="row mt-5" id="lightgallery">
                    <div class="col-3">
                        <a href="/img/orbital-1.jpg">
                            <img src="/img/orbital-1.jpg" class="img-thumbnail" />
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="/img/orbital-2.jpg">
                            <img src="/img/orbital-2.jpg" class="img-thumbnail" />
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="/img/orbital-3.jpg">
                            <img src="/img/orbital-3.jpg" class="img-thumbnail" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="container-fluid p-0">
                <div class="container pb-5">
                    <div class="row">
                        <div class="col-12 fp-properties-table-wrapper">
                            <h2 class="mb-4">Property Details</h2>
                            <div class="mb-4 fp-properties-table-count">Showing 1 to 19 of 19 properties.</div>
                            <table class="table table-sm table-striped bg-white" cellpadding="0" cellspacing="0" border="0">
                                <thead class="">
                                    <tr>
                                        <th>No.</th>
                                        <th>Type</th>
                                        <th>Bedrooms</th>
                                        <th>Sq Ft</th>
                                        <th>Asking Price</th>
                                        <th class="text-center">Availability</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.01</td>
                                        <td>Maisonette</td>
                                        <td>2</td>
                                        <td>936</td>
                                        <td>£285,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>1.02</td>
                                        <td>Maisonette</td>
                                        <td>2</td>
                                        <td>1,195</td>
                                        <td>£350,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>1.03</td>
                                        <td>Apartment</td>
                                        <td>1</td>
                                        <td>495</td>
                                        <td>£180,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>1.04</td>
                                        <td>Apartment</td>
                                        <td>1</td>
                                        <td>646</td>
                                        <td>£225,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>1.05</td>
                                        <td>Apartment</td>
                                        <td>1</td>
                                        <td>667</td>
                                        <td>£240,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>1.06</td>
                                        <td>Apartment</td>
                                        <td>1</td>
                                        <td>549</td>
                                        <td>£190,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>1.07</td>
                                        <td>Apartment</td>
                                        <td>1</td>
                                        <td>753</td>
                                        <td>£300,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>2.01</td>
                                        <td>Apartment</td>
                                        <td>1</td>
                                        <td>495</td>
                                        <td>£190,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>2.02</td>
                                        <td>Apartment</td>
                                        <td>1</td>
                                        <td>452</td>
                                        <td>£185,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>2.03</td>
                                        <td>Apartment</td>
                                        <td>1</td>
                                        <td>495</td>
                                        <td>£185,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>2.04</td>
                                        <td>Apartment</td>
                                        <td>1</td>
                                        <td>646</td>
                                        <td>£235,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>2.05</td>
                                        <td>Apartment</td>
                                        <td>1</td>
                                        <td>667</td>
                                        <td>£250,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>2.06</td>
                                        <td>Apartment</td>
                                        <td>1</td>
                                        <td>549</td>
                                        <td>£200,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>2.07</td>
                                        <td>Apartment</td>
                                        <td>1</td>
                                        <td>753</td>
                                        <td>£300,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>3.01</td>
                                        <td>Apartment</td>
                                        <td>1</td>
                                        <td>947</td>
                                        <td>£335,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>3.02</td>
                                        <td>Apartment</td>
                                        <td>1</td>
                                        <td>753</td>
                                        <td>£275,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>3.03</td>
                                        <td>Apartment</td>
                                        <td>1</td>
                                        <td>721</td>
                                        <td>£235,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>3.04</td>
                                        <td>Apartment</td>
                                        <td>1</td>
                                        <td>872</td>
                                        <td>£300,000</td>
                                        <td>Sold</td>
                                    </tr>
                                    <tr>
                                        <td>0.01</td>
                                        <td>Apartment</td>
                                        <td>1</td>
                                        <td>861</td>
                                        <td>£235,000</td>
                                        <td>Sold</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12">
                        <div style="height: 400px; width: 100%; object-fit: cover">
                            <iframe frameborder="0" style="height: 100%; width: 100%; border: 0; background: #dfdfdf; box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBGPoH-xM3SSYoOsIyqsOkoqa3KkkyqMLg&zoom=15&q=Orbital+House+Caterham+CR3"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('partials/footer.ejs'); -%>

        </div>
        <!-- End Luxy -->

        <%- include('partials/scripts.ejs'); -%>
            <script src="/node_modules/lightgallery.js/dist/js/lightgallery.min.js"></script>
            <script src="/node_modules/lightgallery.js/src/js/lg-share.js"></script>
            <script src="/node_modules/lightgallery.js/src/js/lg-zoom.js"></script>
            <script type="text/javascript">
                lightGallery(document.getElementById('lightgallery'), {
                    selector: 'a',
                    hideBarsDelay: 1500,
                    mode: 'lg-fade',
                    cssEasing: 'cubic-bezier(0.25, 0, 0.25, 1)',
                    zoom: true
                });
            </script>

</body>

</html>